{
  "extends": [
    "plugin:react/recommended",
    "eslint:recommended",
    "prettier"
  ],
  "plugins": ["prettier", "@typescript-eslint"],
  "env": {
    "jest": true,
    "browser": true,
    "es6": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "prettier/prettier": "error",
    "arrow-body-style": ["error", "as-needed"],
    "no-unused-vars": "off",
    "no-duplicate-imports": "error",
    "@typescript-eslint/no-array-constructor": "error",
    "@typescript-eslint/no-namespace": "error",
    "@typescript-eslint/no-unused-vars": ["error", {"args": "none", "ignoreRestSiblings": true}],
    "no-console": "error"
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "16.8"
    }
  }
}
